snippet Calabash Hgignore Template
        ### Calabash ###
        syntax: glob
        # Calabash / Cucumber
        rerun/
        reports/
        screenshots/
        screenshot*.png
        test-servers/
        
        # bundler
        .bundle
        vendor
        ${0}
