snippet ChefCookbook Gitignore Template
        ### ChefCookbook ###
        syntax: glob
        .vagrant
        /cookbooks
        
        # Bundler
        bin/*
        .bundle/*
        
        .kitchen/
        .kitchen.local.yml
        ${0}
