snippet CraftCMS Gitignore Template
        ### CraftCMS ###
        syntax: glob
        # Craft Storage (cache) [http://buildwithcraft.com/help/craft-storage-gitignore]
        /craft/storage/*
        ${0}
