snippet EPiServer Gitignore Template
        ### EPiServer ###
        syntax: glob
        ######################
        ## EPiServer Files
        ######################
        *License.config
        ${0}
