snippet Erlang Hgignore Template
        ### Erlang ###
        syntax: glob
        .eunit
        deps
        *.o
        *.beam
        *.plt
        erl_crash.dump
        ebin
        rel/example_project
        .concrete/DEV_MODE
        .rebar
        ${0}
