snippet MonoDevelop Hgignore Template
        ### MonoDevelop ###
        syntax: glob
        #User Specific
        *.userprefs
        *.usertasks
        
        #Mono Project Files
        *.pidb
        *.resources
        test-results/
        ${0}
