snippet Opa Hgignore Template
        ### Opa ###
        syntax: glob
        _build
        _tracks
        
        opa-debug-js
        
        *.opp
        *.opx
        *.opx.broken
        *.dump
        *.api
        *.api-txt
        *.exe
        *.log
        ${0}
