snippet OracleForms Gitignore Template
        ### OracleForms ###
        syntax: glob
        # Compiled Form Modules
        *.fmx
        
        # Compiled Menu Modules
        *.mmx
        
        # Compiled Pre-Linked Libraries
        *.plx
        ${0}
