snippet Terraform Hgignore Template
        ### Terraform ###
        syntax: glob
        # Compiled files
        *.tfstate
        *.tfstate.backup
        
        # Module directory
        .terraform/
        ${0}
